###  Import the necessary libraries

In [ ]:
https://drive.google.com/file/d/1igc7RVv64J6fHKWOgtaMvNG2TO4GTOg_/view?usp=sharing

In [18]:
import pandas as pd

### Load and assign it to a variable called chipo.

In [2]:
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'

hotel = pd.read_csv(url, sep = '\t')

In [22]:
hotel.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

###  Sort  the dataframe chipo by item_name column

,order_id,quantity,item_name,choice_description,item_price
3389,1360,2,6 Pack Soft Drink,[Diet Coke],$12.98
341,148,1,6 Pack Soft Drink,[Diet Coke],$6.49
1849,749,1,6 Pack Soft Drink,[Coke],$6.49
1860,754,1,6 Pack Soft Drink,[Diet Coke],$6.49
2713,1076,1,6 Pack Soft Drink,[Coke],$6.49
...,...,...,...,...,...
2384,948,1,Veggie Soft Tacos,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",$8.75
781,322,1,Veggie Soft Tacos,"[Fresh Tomato Salsa, [Black Beans, Cheese, Sou...",$8.75
2851,1132,1,Veggie Soft Tacos,"[Roasted Chili Corn Salsa (Medium), [Black Bea...",$8.49
1699,688,1,Veggie Soft Tacos,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",$11.25
1395,567,1,Veggie Soft Tacos,"[Fresh Tomato Salsa (Mild), [Pinto Beans, Rice...",$8.49

### How many customers ordered  Veggie Salad Bowl item?

18

### How many times did someone order more than one Canned Soda?

20

### New Dataset

In [29]:
euro12 = pd.read_csv('https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/02_Filtering_%26_Sorting/Euro12/Euro_2012_stats_TEAM.csv', sep=',')
euro12.head()

,Team,Goals,Shots on target,Shots off target,Shooting Accuracy,% Goals-to-shots,Total shots (inc. Blocked),Hit Woodwork,Penalty goals,Penalties not scored,...,Saves made,Saves-to-shots ratio,Fouls Won,Fouls Conceded,Offsides,Yellow Cards,Red Cards,Subs on,Subs off,Players Used
0,Croatia,4,13,12,51.9%,16.0%,32,0,0,0,...,13,81.3%,41,62,2,9,0,9,9,16
1,Czech Republic,4,13,18,41.9%,12.9%,39,0,0,0,...,9,60.1%,53,73,8,7,0,11,11,19
2,Denmark,4,10,10,50.0%,20.0%,27,1,0,0,...,10,66.7%,25,38,8,4,0,7,7,15
3,England,5,11,18,50.0%,17.2%,40,0,0,0,...,22,88.1%,43,45,6,5,0,11,11,16
4,France,3,22,24,37.9%,6.5%,65,1,0,0,...,6,54.6%,36,51,5,6,0,11,11,19

In [30]:
euro12.shape

(16, 35)

### Set Team columns as index in euro dataframe

In [3]:
hotel[hotel["item_name"]=="Veggie Salad Bowl"].shape[0]

18

### Filter teams that scored more than 6 goals

,Team,Goals,Shots on target,Shots off target,Shooting Accuracy,% Goals-to-shots,Total shots (inc. Blocked),Hit Woodwork,Penalty goals,Penalties not scored,...,Saves made,Saves-to-shots ratio,Fouls Won,Fouls Conceded,Offsides,Yellow Cards,Red Cards,Subs on,Subs off,Players Used
5,Germany,10,32,32,47.8%,15.6%,80,2,1,0,...,10,62.6%,63,49,12,4,0,15,15,17
13,Spain,12,42,33,55.9%,16.0%,100,0,1,0,...,15,93.8%,102,83,19,11,0,17,17,18

### Filter ['Denmark','Germany','Italy'] teams and ['Goals','Blocks'] columns from euro dataframe

         Goals  Blocks
Team
Denmark      4      10
Germany     10      11
Italy        6      18

### Present only the Shooting Accuracy from England, Italy and Russia

        Shooting Accuracy
Team
England             50.0%
Italy               43.0%
Russia              22.5%

###  Select every row up to the 5th row and all columns

,Goals,Shots on target,Shots off target,Shooting Accuracy,% Goals-to-shots,Total shots (inc. Blocked),Hit Woodwork,Penalty goals,Penalties not scored,Headed goals,...,Saves made,Saves-to-shots ratio,Fouls Won,Fouls Conceded,Offsides,Yellow Cards,Red Cards,Subs on,Subs off,Players Used
Team,,,,,,,,,,,,,,,,,,,,,
Croatia,4,13,12,51.9%,16.0%,32,0,0,0,2,...,13,81.3%,41,62,2,9,0,9,9,16
Czech Republic,4,13,18,41.9%,12.9%,39,0,0,0,0,...,9,60.1%,53,73,8,7,0,11,11,19
Denmark,4,10,10,50.0%,20.0%,27,1,0,0,3,...,10,66.7%,25,38,8,4,0,7,7,15
England,5,11,18,50.0%,17.2%,40,0,0,0,3,...,22,88.1%,43,45,6,5,0,11,11,16
France,3,22,24,37.9%,6.5%,65,1,0,0,0,...,6,54.6%,36,51,5,6,0,11,11,19

###  Select all rows and columns from 0 to 7

,Goals,Shots on target,Shots off target,Shooting Accuracy,% Goals-to-shots,Total shots (inc. Blocked),Hit Woodwork
Team,,,,,,,
Croatia,4,13,12,51.9%,16.0%,32,0
Czech Republic,4,13,18,41.9%,12.9%,39,0
Denmark,4,10,10,50.0%,20.0%,27,1
England,5,11,18,50.0%,17.2%,40,0
France,3,22,24,37.9%,6.5%,65,1
Germany,10,32,32,47.8%,15.6%,80,2
Greece,5,8,18,30.7%,19.2%,32,1
Italy,6,34,45,43.0%,7.5%,110,2
Netherlands,2,12,36,25.0%,4.1%,60,2
Poland,2,15,23,39.4%,5.2%,48,0
Portugal,6,22,42,34.3%,9.3%,82,6
Republic of Ireland,1,7,12,36.8%,5.2%,28,0
Russia,5,9,31,22.5%,12.5%,59,2
Spain,12,42,33,55.9%,16.0%,100,0
Sweden,5,17,19,47.2%,13.8%,39,3
Ukraine,2,7,26,21.2%,6.0%,38,0